/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  @font-face {
    font-family: 'alice';
    src: url('../fonts/alice-regular-webfont.woff2') format('woff2'),
         url('../fonts/alice-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/clearsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/clearsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}

h1 {
    font-family: "alice";
    font-size: 3em;
    text-align: center;
    letter-spacing: 3px;
}

h2 {
    font-family: "alice";
    font-size: 2em;
    letter-spacing: 2px;
}

body {
    font-family: "clear_sans";
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 1px;
}

section {
  text-indent: 20px;
}

a {
  color: #a66;
  outline-color: transparent;
}

a:link {
  color: #a66;
}

a:visited {
  color: rgb(154, 102, 170);
  
}

a:focus {
  color: rgb(170, 149, 102);
  text-decoration: none;
}

a:hover {
  color: rgb(170, 149, 102);
  text-decoration: none;
}

a:active {
  color: rgb(255, 255, 255);
  background-color: rgba(170, 102, 102, 0.474);;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  background-size: 100%;
  background-image: url("../images/external-link-52.png");
}

ul, ol, li {
  font-size: 1em;
  line-height: 1.5;
  list-style-type: square;
}

nav ul li{
  font-family: "alice";
  font-size: 2em;
  border: 3px solid #a66;
  text-align: center;
  padding: 15px;
  margin: 20px;
}