html {
    font-family: sans-serif;
  }

div {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    font-size: 1.125rem; /* Found the rem value by dividing the desired font size(18px) by the root font size(16px)*/
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: red;
}